@layer base {
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px !important;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  /* Lenis */
  html.lenis {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
}

/* @keyframes showIn {
  0% { opacity: 0%; transform: scale(0.9); }
  100% { opacity: 100%; transform: scale(1); }
} */
/* 
@keyframes fillProgress {
  0% { opacity: 0%; }
  3% { opacity: 100%; }
  100% { opacity: 100%; }
}

@keyframes fillProgressIndicator {
  0% { width: 0%; transform: translateX(0); }
  80% { width: 100%;transform: translateX(0); }
  100% { width: 100%; transform: translateX(100%); }
}

@keyframes blink {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

.animate-fill-progress {
  animation-duration: 8s;
  animation-name: fillProgress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.animate-fill-progress-indicator {
  animation-duration: 8s;
  animation-name: fillProgressIndicator;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
} */