@layer components {  
  .form-inner {
    @apply text-[#333333] text-[13px]/[17px] outline-0 h-9.5 px-[14px] bg-[#F8F9FA] rounded-md transition-all;
    @apply placeholder:text-[#8F9195];
    @apply hover:border-[#33383C] focus:border-[#33383C];

    &:where([data-invalid="true"]) {
        @apply border-form-invalid-border
    }
  }
}