@layer components {  
  .form-inner {
    @apply text-[#33383C] text-[14px]/[1] outline-0 py-3 border-b border-[#D8D8D8] transition-all;
    @apply placeholder:text-[#828891];
    @apply hover:border-[#33383C] focus:border-[#33383C];

    &:where([data-invalid="true"]) {
        @apply border-form-invalid-border
    }
  }
}