.content {
  border: 1px solid rgb(234, 237, 242);
  box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.05);

  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s cubic-bezier(0.55, 0.01, 0.21, 1);
}

.overlay-enter-active {
  .content {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: auto;
  }
}

.overlay-exit-active {
  .content {
    opacity: 0;
    transform: translateY(10px);
  }
}

