@import "tailwindcss";
@import "../tailwindcss/base.css";
@import "../tailwindcss/utilities.css";
@import "../tailwindcss/components.css";
@import "../tailwindcss/form.css";

:root {
  --dashed-url: url(/images/underline.svg)
  
  --background: #F5F7FA;
  --foreground: #2D3A52;

  --default-transition-duration: 0.8s;
  --default-transition-timing-function: cubic-bezier(0.01, 0.38, 0.24, 0.98);

  --transition-img: transform 0.34s cubic-bezier(0.01, 0.38, 0.24, 0.98);
  --transition-overlay: all 0.8s cubic-bezier(0.01, 0.38, 0.24, 0.98);
}

@theme inline {
  --color-secondary: #507FEB;

  --color-background: #F5F7FA;
  --color-background-secondary: #ffffff;
  --color-foreground: var(--foreground);

  --color-section-title: var(--color-secondary);
  --color-section-description: #818796;

  --color-footer: #8D8D8D;
  --color-footer-invert: var(--color-white);
  --color-footer-second: #F5F7FA;
  --color-footer-b: #292929;
  --color-footer-action-b: #F9F5E8;

  --color-form-invalid-border: #ffa2b4;
  --color-form-placeholder: #828891;

  --color-current-color: currentColor;
  
  --font-season-mix: var(--font-season-mix);
  --font-vanilla-sans: var(--font-vanilla-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-vanilla-sans);
}
